pyColoringCompressible/build/
pyColoringCompressible/pyColoringCompressible.cpp
pyColoringIncompressible/build/
pyColoringIncompressible/pyColoringIncompressible.cpp
pyColoringSolid/build/
pyColoringSolid/pyColoringSolid.cpp
